extends ./../structure/_layout.pug

block vars
  - pageKey = contents.title
  - bodyClass = "template_a"
  - siteTitle = contents.title
  - siteDescription = contents.title
  - siteKeywords = contents.title

block content
  h1=contents.title
  div !{contents.body}
